

body {	
	margin: 0 auto;
    font-family: 'Alegreya Sans', sans-serif;   
    background: #F2F5E9;
}

#logo{
    float:left;

}

h1{
    font-size:4em;
    background-color:#364656;
    margin:-1px;
    text-shadow: 1px 1px #94A4A5;
}
   

#navlist ul{	
    display: inline;
	list-style-type: none;
    text-align: center;
}
#navlist li {
	float: right;
}
a.nav{
    display:block;
    width:120px;
    font-weight:bold;
    color:black;
    text-align:center;
    padding-top: -50%;
    text-transform:uppercase;
}
a.nav:hover,a:active{
    background-color:#364656;
}

#content{
    width:960px;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    text-decoration:underline;
    font-size:2em;
    padding-top: 20px;
    clear:both;
}

#sidebar{
    float:right;
    clear:both;
    height:auto;
    width:200px;
    margin-top:15%;
    margin-right: -3%;
    margin-bottom:100px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:100px;
    text-align:center;
    border:1px gray solid;
    background:#5D6B74;
}

#featured{
    
    float:left;
    border: 1px gray solid;
    padding: 10px;
    background: #94A4A5;
}



#a1img{
    float: left;
}

#a1p{
    height: 180px;
    padding-top:10px;
    line-height: 1.4em;
 
}
#recent{
    float:left;
    margin-top:20px;
    width: 720px;
}

#recenth2{
    text-align: center;
    font-weight: bold;
}
#memberfeatures{
    text-align:center;
}

#gallery ul{
    list-style:none;
    line-height:normal;
}

#gallery li{
    float:right
        
}

.galleryimg{
    width: 226px;
    display:inline;
    padding-left:40px;
    padding-right: 40px;
}

#gallerydec{
    clear:both;
    padding-top:40px;
}
footer{
    width:960px;
    margin: 0 auto;
}

#gallerydec{
    margin-top: 50%;
    margin-bottom: 40%
}
#foot{
    background:#FF8C31;
}