

body {	
	margin: 0 auto;
    font-family: 'Alegreya Sans', sans-serif;   
    background: whitesmoke;
}

#header{
    width:960px;
    margin:0 auto;
    background: #C8C8C8 ; 
    text-indent:-9999999999:
}

#navlist li {
	float: right;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
    padding-bottom: 10px; 
    padding-left:20px;
}

#content{
    width:960px;
    margin: 0 auto;
}

h1{
    font-size:4em;
    background-color:D4E1FF;
    text-indent: -9999999999
        
}


#logo{
    float:left;
    background:#C8C8C8;
}




h2 {
    text-align:center;
    font-size: 2em;
    text-decoration:underline;
    font-size:2em;
    padding-top: 20px;
    clear:both;
}

#sidebar{
    float:right;
    clear:both;
    height:auto;
    width:200px;
    margin-top:100px;
    margin-bottom:100px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:100px;
    border:1px gray solid;
}

#recent{
    float:left;
    width:720px
}

#memberfeatures{
    text-align:center;
    text-emphasis:
}

ul#gallery {
    width:960px;
    list-style:none;
    line-height:normal;
}

.galleryimg{
    float: left;
    width: 226px;
    padding-left:40px;
    padding-right: 40px;
}

footer{
    width:960px;
    margin: 0 auto;
}